@use 'variables' as vars;

.button-login {
    border-radius: 10px;
    padding: 5px;
    background-color: vars.$color-2;
    text-transform: none !important;
    @include vars.fontStyling(vars.$fontFamily !important, 18px, 400, #ffffff);

    &:hover {
        background-color: vars.$color-2;
    }
}

.button {
    border-radius: 5px;
    text-transform: none !important;
    @include vars.fontStyling(vars.$fontFamily !important, 14px, 500, black);
}

.button-default {
    color: black;
    border-color: #dddddd;
}

.button-primary {
    color: white;
    background-color: vars.$color-2;

    &:hover {
        background-color: vars.$color-3;
    }
}