@use 'variables' as vars;

.login-form {
    .login-form-body {
        margin-top: 2rem;
    }

    .form-label-login {
        margin-bottom: 1rem;
        @include vars.fontStyling(vars.$fontFamily !important, 18px, 600, #333333);
    }
    
    .form-input-login {
        @include vars.fontStyling(vars.$fontFamily !important, 16px, 400, #333333);
        border-radius: 10px;
        padding: 1.5rem;
        border-color: #B1B1B1 !important;

        &:focus,
        &:hover {
            border-color: #aaa !important;
        }
    }
}

.form-label {
    margin-bottom: 1rem;
    @include vars.fontStyling(vars.$fontFamily !important, 16px, 600, #333333);
}

.form-label-required {
    &:after {
        content: " *";
        color: red;
    }
}

.form-input {
    @include vars.fontStyling(vars.$fontFamily !important, 16px, 400, #333333);
    border-radius: 10px;
    padding: 1.5rem;
    border-color: #B1B1B1 !important;

    &:focus,
    &:hover {
        border-color: vars.$color-3 !important;
        color: black;
    }
}

.form-input-small {
    padding: .5rem 1rem;
    @include vars.fontStyling(vars.$fontFamily !important, 12px, 400, black);
}

.form-select {
    @include vars.fontStyling(vars.$fontFamily !important, 16px, 400, black);
    border-radius: 10px;
    border-color: #B1B1B1 !important;
    height: 50px !important;

    &:focus,
    &:hover {
        border-color: vars.$color-3 !important;
        color: black;
    }
}