@use 'variables' as vars;

.login-section-left {
    .login-form {
        .login-heading {
            margin-bottom: 10px;
            @include vars.fontStyling(vars.$fontFamily !important, 36px, 600, black);
        }

        .login-intro {
            margin-top: 10px;
            @include vars.fontStyling(vars.$fontFamily !important, 16px, 400, #999999);
        }
    }
}

.login-section-right {
    background-color: vars.$color-3;
}

.login-section-right .login-cover-img {
    background-image: url(../../assets/images/cover-login.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: relative;
    right: 35%;
}

.container {
    .wrapper {
        padding: 5rem;
    }
}

.label {
    padding: 6px 12px;
    border-radius: 6px;
    color: white;
}

.label-green {
    background-color: vars.$bg-success;
}

.label-red {
    background-color: vars.$bg-danger;
}

.form-section {
    .form-header-title {
        @include vars.fontStyling(vars.$fontFamily !important, 32px, 600, black);
        border-bottom: 4px solid #E2E6F9;
        padding-bottom: 20px;

        .form-sub-title {
            @include vars.fontStyling(vars.$fontFamily !important, 24px, 500, black);
            span { color: vars.$color-2 }
        }
    }

    .form-section-input {
        margin-top: 2rem;

        .form-section-divider {
            border-bottom: 2px solid #dddddd;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
}

.card-section {
    .card-heading {
        @include vars.fontStyling(vars.$fontFamily !important, 32px, 600, black);
    }

    .card-subheading {
        @include vars.fontStyling(vars.$fontFamily !important, 24px, 600, black);

        span {
            font-size: 24px;
        }
    }

    .card-body {
        margin-top: 2rem;
        border-radius: 20px;
        box-shadow: none;
        border: 1px solid #dddddd;
        padding: 2rem;

        .search-toggle-card {
            font-size: 24px;
            color: black;
        }
    }
}

.table {
    th {
        @include vars.fontStyling(vars.$fontFamily !important, 16px, 600, black);
        text-transform: none;
    }

    td {
        @include vars.fontStyling(vars.$fontFamily !important, 14px, 400, #333333);
    }

    .table-btn-action {
        text-decoration: none;
        color: black;
    }
}

.table-input-lab {
    th {
        @include vars.fontStyling(vars.$fontFamily !important, 16px, 600, black);
        text-transform: none;
        text-align: center;
    }

    td {
        @include vars.fontStyling(vars.$fontFamily !important, 16px, 400, #333333);
        text-align: center;
    }
}

.autocomplete-dropdown {
    border-radius: 10px;
    border: 1px solid #dddddd;
    margin-top: 10px;

    .autocomplete-container {
        height: 150px;
        overflow-y: auto;

        ul.autocomplete-list {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 15px 15px;
                @include vars.fontStyling(vars.$fontFamily !important, 13px, 500, #333333);
                border-bottom: 1px solid #dddddd;

                &:first-child {
                    border-radius: 10px 10px 0 0;
                }

                &:last-child {
                    border-bottom: none;
                    border-radius: 0 0 10px 10px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: vars.$color-3;
                    color: #ffffff;
                }
            }
        }
    }
}

.lab-diagnose-container {
    .lab-header-title {
        text-align: center;
        padding: 10px;
        border-bottom: 2px solid #dddddd;
        @include vars.fontStyling(vars.$fontFamily !important, 14px, 600, black);
    }
}

.card-information-detail {
}