@use 'variables' as vars;

.navbar-container {
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;

    .navbar-profile-container {
        text-decoration: none;

        .nav-avatar {
            margin-top: 5px;
        }

        .nav-avatar > img {
            border-radius: 100%;
            width: 60px;
        }

        .navbar-profile-info {
            .nav-profile-name {
                color: black;
                @include vars.fontStyling(vars.$fontFamily, 16px, 700, #333333);
            }

            .nav-profile-role {
                @include vars.fontStyling(vars.$fontFamily, 14px, 400, #777777);
            }
        }

        .navbar-icon-dropdown {
            span {
                margin-top: .7rem;
                font-size: 20px;
                color: black;
            }
        }
    }

    .navbar-dropdown {
        box-shadow: none;
        border-radius: 10px;
        border: 1px solid #dddddd;

        ul.nav-dropdown {
            li > a {
                @include vars.fontStyling(vars.$fontFamily, 14px, 500, #777777);
            }
        }
    }
}

.sidebar-nav {
    border-right: 1px solid #dddddd;

    ul.nav-list {
        margin-top: 2rem;

        li > a {
            @include vars.fontStyling(vars.$fontFamily, 16px, 600, black);
            padding-top: 10px;
            padding-bottom: 10px;

            span.las {
                margin-right: 10px;
            }

            &:hover {
                background-color: vars.$color-3;
                color: #ffffff;
            }
        }

        li.uk-parent {
            ul.uk-nav-sub {
                li {
                    padding-left: 30px;

                    a {
                        &:hover {
                            background-color: transparent;
                            color: vars.$color-3;
                        }
                    }

                }
            }
        }
    }
}

ul.nav-pagination {
    li > a {
        @include vars.fontStyling(vars.$fontFamily, 14px, 400, black);
        border-radius: 5px;
        border: 1px solid #dddddd;

        &:hover {
            background-color: vars.$color-3;
            color: #ffffff;
            border-color: vars.$color-3;
        }
    }

    li > span {
        @include vars.fontStyling(vars.$fontFamily, 14px, 400, black !important);
    }

    li.disabled > a {
        background-color: transparent;
        color: #999999;
        border-color: #dddddd;

        &:hover {
            background-color: transparent !important;
        }
    }
}

.form-nav-tab {
    background-color: #E2E6F9;
    margin-top: 2rem;
    padding: 10px;
    border-radius: 10px;

    .nav-btn {
        text-align: center;
        color: black;
        padding: 20px;
        @include vars.fontStyling(vars.$fontFamily, 14px, 600, black !important);
        text-decoration: none;
    }

    .nav-btn-active {
        background-color: vars.$color-4;
        color: #ffffff !important;
        border-radius: 10px;
    }
}